body {
    height: 800px;
    background-color: #2B3939;
    color: white;
}

#main-header {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 20px;

}

#main-header p {
    font-size: 12px;
    line-height: 1.5em;
    margin: 15px 70px;
}

main {
    display: flex;
    width: 100%;    
    margin: 20px;
}

.card {
    border: 1px dotted white;
    width: 400px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    
}

.card header{
    width: 90%;
    padding: 5px 2px;
    border: 1px solid white;
    background-color:#2B3939;
    align-content: center;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: -20px;
}

.card p {
    margin-top: 40px;
    font-size: 12px;
    

}

.card code {

}